#media-manager-wrapper {  
}

.playerWrapper video { 
  position: absolute; 
  top: 230px; 
  left: 55px; 
  width: 610px; 
  height: 300px; 
  padding: 0; 
  margin: 0; 
  display: none; 
}

.carouselImage { 
  width: 300px; 
  height: 300px; 
}

.carouselImageReflect { 
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 225, 0.4) ) ) 
}

.albumCarouselDescription { 
  width: 230px; 
  height: 95px; 
  bottom: 95px; 
  padding: 0 5px; 

}

.albumCarouselDescriptionText { 
  text-align: center; 
  top: 15px; 
}

/* text panel artist, album, song title */
.currentlyPlayingPreviewClass { 
  position: absolute; 
  top: 0; 
  left: 0; 
}

.textPanel { 
  position: relative;
  width: 80%; 
  height: 350px; 
  margin: 0 auto; 
}

/* time progress bar and remaining time */
.timeBarClass { 
  margin-left: 50px; 
  margin-right: 20px; 
}

.infoPanelClass { 
  width: 500px; 
  float: right; 
}

.infoPanelClass p {
  margin:0;
}

.progressPot { 
  left: 0; 
  height: 3px; 
  background-color: rgb(83, 181, 206); 
  box-shadow: 0 0 30px 2px rgba(82, 181, 206, 0.8);
}

.progressBar { 
  margin-left: 50px; 
  width: 985px; 
}

.progressBar-border { 
  border-bottom: 1px solid rgb(83, 181, 206); 
  margin-bottom: 80px; 
  margin-top: -10px; 
}

/*audio controls*/

.audio-crtl-button { 
  flex: 1; 
}

.audio-control-btns-wrapper { 
  height: 45px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-play, .fa-pause {
  color: #fff;
}

#repeatButton span {
  font-size: 8pt; 
  white-space: nowrap; 
  position: relative;
}

.song-name-position { 
  line-height: 1.25em;
  margin-top: 80px;
}

.artistNameTextMargin { 
  margin-bottom: 5px; 
}

.songNameTextPosition { 
  top: 12px; 
}

/* library button */

.hex-arrow {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-image: url(../images/blue_lt_flag.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url(../images/menu_icon_black.png);
  background-size: 18px;
}

.library-btn span {
  padding-left: 1.2rem;
}

.fa-music {
  color: #fe9c00;
  margin-bottom: 20px;
}

.fa-music span {
  padding-left: 15px;
  color: #fff;
}

/* Media Carousel*/

.media-carousel-container { 
  margin: 100px 0; 
  position:relative; 
  background: none; 
  overflow: hidden; 
  border-bottom: #53b5ce 1px solid; 
  height: 465px; 
}

.media-carousel-container img { 
  width: 300px;
  -webkit-box-shadow: 0 300px 0 rgba(0, 0, 0, 0.5), 
                      -45px 0px 70px 4px rgba(0, 0, 0, 0.5);
}

.media-carousel-container li { 
  margin: 0 10px; 
}

.carousel-item-container { 
  height: 300px; 
  width: 300px; 
  position: relative; 
}

.song-title-carousel { 
  font-size: 30px; 
  position: relative; 
  top: -80px; 
  padding-left: 20px; 
  width: 200px;
}

.artist-name-carousel { 
  font-size: 18px; 
  position: relative; 
  top: -80px;
  border-bottom: 3px solid #000; 
  padding-left: 20px; 
  padding-bottom: 10px; 
  width: 200px; 
}

ul.no-bullets { 
  list-style-type: none 
}

.media-carousel-items { 
  text-transform: uppercase; 
  color: #fff; 
  font-weight: 700; 
  border-color: #53b5ce;
  display: flex; 
}

.ellipsis-one-line, .ellipsis-two-line, .ellipsis-three-line { 
  display: -webkit-box; 
}

.carousel-image-reflect { 
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left 80, left bottom, from(transparent), color-stop(0.2, transparent), to(white));
  -webkit-box-shadow: 0 300px 0 rgba(0, 0, 0, 0.5);
}

/* Current Playing Media*/

.album-title-text { 
  font-size: 42px; 
  color: #3aaeff; 
}

.album-thumbnail { 
  width: 300px; 
  height: 300px; 
}

.playback-console-container { 
  position:relative; 
  width: 1080px; 
  height: 360px; 
  margin: 150px 0 0 0; 
}

.set-media-time-bar-holder { 
  height: 30px;
}

#songSeek { 
  width: 0%; 
}

.song-title-carousel, 
.artist-name-carousel {
  background-color: rgba(0,0,0,0.4);
}

.text-to-uppercase { 
  text-transform: uppercase; 
}

/* ANIMATION CLASS FOR LIBRARY */
.hideMe { 
  display: none; 
}

.toShow { 
  display: flex; 
}

.animated { 
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
  }
    @-webkit-keyframes fadeInRight {  0% {
    opacity: 0;
    -webkit-transform: translateX(0px);
  }
    100% {
    opacity: 1;
    -webkit-transform: translateX(-1080px);
  }
}

.fadeInRight { 
  -webkit-animation-name: fadeInRight; 
  animation-name: fadeInRight; 
}

ul.musicContentListedItems {
  margin: 0; 
  list-style-type: none;
  padding-left: 0;
  padding-right: 40px;
}

/* changes to images */
.listingImageSize {
  width: 5%; 
  margin: 0 6px;
}

/* new as well */
.content-listing img {
  position: relative;
  top: 8px;
}

li.content-listing {
  height: 85px;
  padding-top: 10px;
}

li.content-listing.no-images img.add-to-playlist-btn, 
li.content-listing.no-images img.play-now-btn {
  display: none;
}

.add-to-playlist-btn {
  margin-right: 20px;
}

.artist-track-title {
  display: inline;
}

.track-time-total {
  margin: 0 20px;
}

.album-and-track-totals {
  float:right;
}

/* libraryLeftControl */

.fa-search:active {
  color: #53b5ce;
}

/*.gridIcon { width: 100px; height: 110px; background-repeat: no-repeat; background-position: left top; }

.listIcon { width: 100px; height: 110px; background-repeat: no-repeat; background-position: left top; }
*/

.libraryLeftControl {
  margin-left: 50px;
}

.replace-current-queue {
}

.add-to-current-queue {
  background-position: 0 30px;
}

.boxIconRectangle { 
  background-color: rgb(83, 181, 206); 
}

.libraryTopPanel { 
  margin: 0; 
  padding: 0; 
  margin-left: 50px; 
  height: 110px; 
  background-repeat: no-repeat; 
  background-position: left top; 
  z-index: 1; 
  overflow: hidden; 
}

.libraryTopSubPanel {  
  left: 76px; 
  margin-top: -20px; 
  margin-bottom: 20px;
  padding-top: 20px; 
  height: 60px; 
  width: 645px; 
  z-index: 0; 
  text-transform: uppercase;
  border-left: 1px solid rgba(83, 181, 206, 1.0);
  position: relative;  
}

.libraryTopSubPanel .subPanelArea {
  margin-top: -2px; 
  margin-left: 150px;
  display: block; 
  line-height: 0; 
  max-width: 470px; 
  overflow: hidden; 
  position: absolute; 
}

.libraryContent { 
  margin-left: 90px; 
  overflow-x: hidden; 
  overflow-y: auto;
}

#listingWrapper { 
  height: 1200px; 
  overflow-y: hidden
}

.boxIconRectangle { 
  background-color: rgb(83, 181, 206); 
}

.incomingCallHide { 
  display: none; 
}

.searchBoxContainer {
  margin: 20px;
  overflow: auto;
}

.header-title {opacity:.5;}

#songProgress a div {
  height: 28px;
  top:-12px;
  left: 50%;   
  position: relative;
  background: url(../images/set-media-time-btn.png) no-repeat center center;
  padding: 0 15px;
 }

.addedNote {
  position: relative;
  left: -18px;
  top:28px;
}

.libraryBackButton {
  background-repeat: no-repeat;
  margin-left: 20px;    
}

#media-manager-app #app {
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.label,
.content h3 {
  margin: 0; 
}

.label-lead-line {
  width: 175px;
  margin: 7px 10px 6px 0;
  height: 20px;
}

.flex-item-4 {
  flex: 4;
}

#indicators {
  margin-right: 20px;
}

.text-input {
  border: 1px solid rgba(178, 240, 255, .5);
}

#bbar-logo {
  background-image: url('/images/genivi_white_sm.png');
  background-size: 106px;
}

#clockElement {
  height: 100px;
}

.margin-left {
  margin-left: 20px;
}

